.QuizDiv{
     width: 300px;
    margin: 100px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 40px;
    border-radius: 8px;

}



.Quizbtn{
      width: 200px;
    display: grid;
    gap: 15px;
    margin: auto;
}

.actions{
    display: flex;
    justify-content: space-around;
}

.ansbtn{
    width: 200px;
    height: 30px;
    border-radius: 8px;
}
.actions button{
    padding: 10px;
    width: 70px;
    border-radius: 8px;
    border: none;
}